*{
    margin: 0;
    padding: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: crimson;
}

h3 {
    font-size: 10px;
}


.main{
    width: 100%;
    height: 100vh;
    background: #fdb827;
}
.card{
    width: 350px;
    height: 400px;
    background: white;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.315);
}
.card img{
    width: 40%;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%) translateY(50px);
    transition: all .3s;
}
.card:hover img, .card:hover h1, .card:hover h3{
    transform: translate(-50%) translateY(0px);
}
.card h1,h3{
    position: absolute;
    top: 200px;
    left: 50%;
    left: 50%;
    transform: translate(-50%) translateY(50px);
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.6s;
}

.card h1{
    top: 200px;
}
.card h3{
    top: 250px;
}
.card .icon{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.card .icon i{
    margin: 10px;
}
.card .icon i:nth-child(1),
.card .icon i:nth-child(3){
    transform: translateY(100px);
    color: #c32aa3;
    transition: all 0.6s;
}
.card .icon i:nth-child(2){
    transform: translateY(100px);
    transition: all 0.6s;
}
.card .icon i:nth-child(3){
    color: #1da1f2;
}

.card:hover .icon i:nth-child(1),
.card:hover .icon i:nth-child(3){
    transform: translateY(15px);
}
.card:hover .icon i:nth-child(2){
    transform: translateY(-10px);
}
